<div class="jumbotron">
	<h1>Calculothon</h1>
	<p>Le tutorat à distance en mathématiques peut être une tâche laborieuse à accomplir. Le projet Calculothon a pour objectif d'offrir une application web permettant de partager une session de calcul privé entre deux utilisateurs où ils pourront utiliser une calculatrice commune et des messages vocaux.</p>
	<a class="btn btn-primary btn-lg" href="#/room" role="button">Nouvelle session</a>
</div>
