<div class="col-xs-8">
	<div class="row">
		<div class="col-sm-12">
			<h3>Calculothon</h3>
			<ul id="operationHistory" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<input class="screen" disabled type="text" ng-model="operations" />
		</div>
	</div>
	<div class="row numpad">
		<div class="col-sm-12">
			<div class="row button-row">
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'%'})">%</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'√'})">√</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'('})">(</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:')'})">)</button></div>
			</div>
			<div class="row button-row">
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'^'})">xʸ</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'^2'})">x²</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'!'})">!</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'/'})">/</button></div>
			</div>
			<div class="row button-row">
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:7})">7</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:8})">8</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:9})">9</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'*'})">x</button></div>
			</div>
			<div class="row button-row">
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:4})">4</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:5})">5</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:6})">6</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'-'})">-</button></div>
			</div>
			<div class="row button-row">
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:1})">1</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:2})">2</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:3})">3</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'+'})">+</button></div>
			</div>
			<div class="row button-row">
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="clearOperations()">Clear</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:0})">0</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'.'})">.</button></div>
				<div class="col-xs-3"><button type="button" class="btn btn-block" ng-click="addOperation({key:'pi'})">π</button></div>
			</div>
			<div class="row button-row">
				<div class="col-xs-6"><button type="button" class="btn btn-block" ng-click="eraseOperation()">Erase</button></div>
				<div class="col-xs-6"><button type="button" class="btn btn-block" ng-click="submitOperations(true)">Enter (=)</button></div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-4">
	<div class="row">
		<div class="col-sm-12">
			<h3>Messages</h3>
			<div class="row">
				<div class="col-sm-6">
					<button type="button" class="btn btn-block" id="record-button" ng-click="audioOperation()">Record</button>
				</div>
				<div class="col-sm-6">
					<button type="button" class="btn btn-block" id="stop-recording-button" ng-click="stopRecording()" disabled>Stop</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" id="audiotest">

				</div>
			</div>
		</div>
	</div>
</div>
