.button-row{
    margin-top:8px;
    margin-bottom: 8px;
}

.screen{
    background-color: #333;
    margin: 8px 0px;
    padding: 0px 8px;
    min-height: 48px;
    width:100%;
    color:#FFF;
    text-align: right;
}

.numpad .btn{
    font-weight: bold;
}
.numpad .btn:hover{
    color:inherit;
    background-color:#AAA;
}

.numpad .btn:focus{
    color:inherit;
}

textarea {
    resize: none;
    width:100%;
    min-height:300px;
}

#shareRoomMenu {
  display:none;
}

#operationHistory {
	overflow-y:auto;
	max-height: 150px;
	min-height: 150px;
}
